{% extends '../layout.njk'%}


{%block main%}

    <div class="">
        <div class="create_chef">
            <h2>Criando chef<h2>
            <button>Salvar chef</button>
        </div>

        {%include './fields-chef.njk'%}
    </div>    

{% endblock%}