<div class="chef-name-container">
    <h4>Nome</h4>
    <div class="chef-name">
        <input type="text" name="chef_name" value="" />
    </div>
</div>

<div class="chef-avatar-container">
    <h4>Avatar</h4>
    <div class="chef-avatar">
        <input type="file" name="chef_image">
    </div>
</div>
