{% extends '../layout.njk'%}

{% block main%}


<div>

    <div class="chef-manager-container">
        <h2>Editando receita</h2>
        <div class="chef-manager">
            
            <div class="chefs-card">

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>

                <div class="chef-card">
                    <img src="/img/chef.png" alt="">
                    <div class="chef-data">
                        <span>Júlia Kinoto</span>
                        <a href="">Visualizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock%}