*{
    padding:0;
    margin:0;
    border:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size:62.5%
}

html,body{
    height:100%;
    font-size:62.5%
}

body{
    display:flex;
    flex-direction:column;
    width:100%;
}


header{
    width:940px;
    margin:0 auto;
    display:flex;
    align-items:center;
    padding:36px 0 0 0;
}

header img{
    margin-right:123px
}

.header_links a{
    font-size:1.6rem;
    margin-right:30px;
    text-decoration:none;
    color:black
}

.header-search{
    margin-left:auto
}

.header-search form input{
    width:246px;
    font-size:1.4rem;
    border:1px solid #DDDDDD;
    margin-right:0.8rem;
    border-radius:4px;
    outline:none;
    padding:10px 15px
}

.header-search form input:placeholder{
    font-size:1.4rem;
    color: #999999;
}

.header-search form button{
    font-size:1.6rem;
    padding:9px 20px;
    background: #6558C3;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight:bold
}









.content-container{
    width:100%;
    max-width:940px;
    margin: 0 auto;
    padding:5rem 0
}


.content-container .banner{
    background: #FBDFDB;
    width:100%;
    height:366px;
    border-radius:30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.banner-text{
    padding:117px 60px 
}


.banner-text h3{
    font-size:3.2rem;
    line-height:3.8rem

}

.banner-text p{
    width:316px;
    font-size:1.8rem;
    line-height:2.8rem
}

.banner img{
    padding:66px 100px 0
}

.recipes-card-i h3{
    font-size:2.4rem;
    margin:50px 0 30px
}

.section-recipes-cards{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:30px 20px
}

.recipes-cards{
    height:max-content;
    width:300px;
    display:flex;
    flex-direction:column
}

.recipes-cards img{
    width:100%;
    height:140px;
    border-radius:15px
}

.recipes-cards span:nth-child(2){
    font-size: 1.8rem;
    color: #111111;
    line-height:2.1rem;
    margin-top:20px;
}

.recipes-cards span:last-child{
    font-size: 1.4rem;
    color: #777777;
    line-height:1.4rem;
    margin-top:5px
}

footer{
    margin-top:auto;
    width:100%;
    background: #EEEEEE;
    padding:23px 0;
    text-align:center

}

footer span{
    font-size:1.4rem;
    color: #999999;
}





.about-foodfy p,.foodfy-start p,.our_recipes p{
    font-size:1.8rem;
    line-height:2.8rem;
    color: #444444;
} 

.about-foodfy h2{
    font-size:2.4rem;
    margin:0 0 20px;
    line-height:2.8rem
}

.foodfy-start h3,.our_recipes h3{
    font-size:2rem;
    margin:50px 0 30px;
    line-height:2.4rem
}

.about-foodfy p:nth-child(2),.foodfy-start p:nth-child(2){
    margin-bottom:30px
}

/* .aheader{
    background:black;
    width:100%;
    display:flex
} */

.no_display{
    display:none;
}

.banner-recipe img{
    display:block;
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:15px
}

.banner-recipe h2{
    text-align:center;
    margin-top:50px;
    font-size:3.6rem;
    line-height:4.2rem;
    color: #111111;
}

.banner-recipe h4{
    text-align:center;
    font-size:2rem;
    color: #777777;
    font-weight:lighter;
    line-height:2.4rem;
    margin-bottom:50px
}

.banner-recipe h6{
font-size:2.4rem;
display:inline-block
}

.hide-span{
    font-size:1.2rem;
    font-weight:bolder;
    color: #999999;
    margin-left:8px
}

.banner-recipe ul{
    padding:20px 0 39px;
    list-style-position: inside
}

.banner-recipe ul li{
    font-size: 1.8rem;
    color: #444444;
    line-height:2.8rem;
}

.banner-recipe textarea{
    width:100%;
    height:200px;
    font-size:1.8rem;
    display:block;
    margin:20px 0;
    resize:none;
    border:1px solid lightgray
}    




/* PG CHEFS */
.chefs-card{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px
}

.chef-card{
    display:flex;
}

.chef-card img{
    width:6.4rem;
    height:6.4rem;
    border-radius:50%
}

.chef-data {
display:flex;
flex-direction:column;
margin-left:2rem;
justify-content:center
}

.chef-data span:first-child{
    font-size:1.8rem;
}

.chef-data span:last-child{
    font-size:1.4rem;
    color: #666666;
}

.founded-recipes h3{
    font-size:2.4rem;
    margin-bottom:20px
}