*{
    padding:0;
    margin:0;
    border:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size:62.5%
}

:root{
    --white:#fff
}





html,body{
    height:100%
}

body{
    display:flex;
    flex-direction:column;
    width:100%;
}

/* CENTRALIZAR E MAXIMO TAMANHO; PADDING 50PX */

.max-width{
    width:100%;
    max-width:940px;
    margin: 0 auto;
}

.padding-space{
    padding:55px 0 50px
}

.no_display{
    display:none;
}



/* CENTRALIZAR E MAXIMO TAMANHO */

.container-header{
    width:100%;
    background:black;
    padding:27px 0
}

header div:first-child{
    display:flex;
    align-items:center;
}

header img{
    margin-right:123px
}

.header_links a{
    font-size:1.6rem;
    margin-right:30px;
    text-decoration:none;
    color:black
}

.recipes-section h2{
    font-size: 2.4rem;
    color: #111111;
}

.recipes-cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:30px;
    grid-gap:20px
}

.recipe-card{
    width:476px;
    height:80px;
    display:grid;
    grid-template-columns: 172px 1fr;
    grid-gap:20px;
}

.recipe-card img{
    width:172px;
    height:100%;
    border-radius: 8.57px;
}


.recipe-info span:first-child{
    font-size:1.8rem;
    color: #111111;
    display:block;
    margin-bottom:5px;
}

.recipe-info span:nth-child(2){
    font-size: 1.4rem;
    color: #777777;
    display:block;
    margin-bottom:10px;

}

.recipe-info a{
    font-size: 1.4rem;
    color: #6558C3;
    font-weight:bold;
    text-decoration:none;
}

.create_recipe{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:30px

}

.create_recipe h2{
    font-size:2.4rem;
    display:inline-block
}   

.create_recipe button{
    font-size:1.6rem;
    width:136px;
    height:37px;
    border-radius:4px;
    background:#6558C3;
    color:var(--white);
    font-weight:bold
}

.ingredients_recipe h4,
.preparation_recipe h4,
.additional_info h4{

font-size:1.6rem
} 

.ingredients_recipe input,
.preparation_recipe input,
.additional_info textarea{
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    margin:10px 0 15px;
    padding:15px 20px;
    font-size:1.6rem

}

.ingredients_recipe input,
.preparation_recipe input{
    height:49px;
}

.additional_info textarea{
    height:257px
}

.ingredients_recipe button,
.preparation_recipe button{
    font-size:1.6rem;
    font-weight:bold;
    color:#6558C3;
    background:transparent;
    cursor:pointer;
    margin-bottom:30px
}

div.banner-recipe .title-and-button-recipe{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 24px
}

div.banner-recipe > div button{
    background: #6558C3;
    border-radius: 4px;
    color:#fff;
    font-size:1.6rem;
    padding:9px  20px;
    font-weight:bold
}

.banner-recipe img{
    display:block;
    height:280px;
    object-fit:cover;
    border-radius:15px
}

.banner-recipe h2{
    text-align:center;
    margin-top:50px;
    font-size:3.6rem;
    line-height:4.2rem;
    color: #111111;
}

.banner-recipe h4{
    text-align:center;
    font-size:2rem;
    color: #777777;
    font-weight:lighter;
    line-height:2.4rem;
    margin-bottom:50px
}

div.banner-recipe h6{
    font-size:2.4rem;
    color:#111111
}

.banner-recipe ul{
    padding:20px 0 39px;
    list-style-position: inside
}

.banner-recipe ul li{
    font-size: 1.8rem;
    color: #444444;
    line-height:2.8rem;
    list-style:none;
}

.banner-recipe textarea{
    width:100%;
    height:200px;
    font-size:1.8rem;
    display:block;
    margin:20px 0;
    resize:none
}    

div.edit-buttons{
    display:flex;
    align-items:center;
    justify-content:space-between
}

div.edit-buttons h6{
    font-size:2.4rem;
    color:#111111
}

div.edit-buttons{
    margin-bottom:30px
}

div.edit-buttons button{
    font-size:1.6rem;
    font-weight:bold;
    color:#ffffff;
    padding:9px 20px;
    border-radius: 4px;
}

div.edit-buttons button.delete-button{
    background: #DC4747;
    margin-right:10px
}

div.edit-buttons button.save-button{
    background: #6558C3;
}

