<header class="a-ad">
    <div class="max-width">
        <a href="/">
            <img src="/img/logo2.png" alt="">
        </a>
        <div class="header_links">
            <a href="/sobre"></a>
            <a href="/receitas"></a>
        </div>
    </div>
</header>