{% extends './layout.njk'%}



{% block main%}



<div class="banner-recipe">
    <div class="title-and-button-recipe">
        <h6>Receita: Pizza</h6>
        <button>Editar receita</button>
    </div>
    <img class="max-width" src="/img/pizza.png" alt="">
    <h2>Triplo bacon burger</h2>
    <h4>por Jorge Relato</h4>

    <div class="recipe-ingredients">
        <h6>Ingredientes</h6>
        <ul class="">
            <li>- teste</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
        </ul>
    </div>

    <div class="recipe-preparation">
        <h6>Modo de preparo</h6>
        <ul>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
            <li>- TESTE</li>
        </ul>
    </div>


    <div class="recipe-add-infos">
       <h6>Informações adicionais</h6>
       <textarea name="" id="" cols="30" >teste</textarea>
    </div>

</div>


{% endblock %}


