{% extends './layout.njk'%}

{% block main%}

<div class="chefs-card">

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>

    <div class="chef-card">
        <img src="/img/chef.png" alt="">
        <div class="chef-data">
            <span>Júlia Kinoto</span>
            <span>0 receitas</span>
        </div>
    </div>


</div>


{% endblock%}

{%block script%}
<script src="/js/script.js"></script>
{% endblock%}
