{% extends './layout.njk'%}


{% block main%}

<div class="banner-recipe">
    <img class="max-width" src="/img/pizza.png" alt="">
    <h2>Triplo bacon burger</h2>
    <h4>por Jorge Relato</h4>

    <div class="recipe-ingredients">
        <h6>Ingredientes</h6><span class="hide-span">ESCONDER</span>
        <ul class="">
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
        </ul>
    </div>

    <div class="recipe-preparation">
        <h6>Modo de preparo</h6><span class="hide-span">ESCONDER</span>
        <ul>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
            <li>RECEITA</li>
        </ul>
    </div>

    <div class="recipe-add-infos">
       <h6>Informações adicionais</h6><span class="hide-span">ESCONDER</span>
       <textarea name="" id="" cols="30" >RECEITA RECEITA RECEITA</textarea>
    </div>

</div>


{% endblock %}

{% block script%}

<script src="/js/script.js"></script>

{%endblock%}