{% extends './layout.njk'%}



{% block main%}


<div class="founded-recipes">
    <h3>Buscando por "bacon"</h3>
    
   <div class="section-recipes-cards">
        
        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>
        
        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

    </div>



</div>



{% endblock%}