{% extends './layout.njk'%}



{% block main %}

<div class="banner">
    <div class="banner-text">
        <h3>As melhores receitas</h3>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
    </div>
    <img src="/img/chef.png" alt="">
</div>

<div class="recipes-card-i">
    <h3>Mais acessadas</h3>
    <div class="section-recipes-cards">
        
        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>
        
        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por teste</span>
        </div>

    </div>
    
</div>


{% endblock%}