{% extends './layout.njk'%}

{% block main %}



<section class="max-width padding-space">
    <div class="section-recipes-cards">

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

            <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

        <div class="recipes-cards">
            <img src="/img/doce.png" alt="">
            <span>Triplo Bacon Burguer</span>
            <span>por Latrel</span>
        </div>

    </div>
    
</section>


{% endblock%}

{% block script%}
<script src="/js/script.js"></script>
{% endblock%}